*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 18px;
  color: #0f0f0f;
}

img {
  max-width: 100%;
  height: auto;
}

.remove {
  transition-duration: 0.5s;
  transform: translateX(-300px);
  opacity: 0;
}
