.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form__container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.auth-form__container--error {
  justify-self: center;
  color: #b60000;
}

.auth-form__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.auth-form__title {
  font-size: 16px;
  line-height: 1;
  color: #818181;
}

.auth-form__buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
