.page-header__container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: aqua;
}

.page-header__bar {
  padding: 10px;
  background-color: aquamarine;
  border-radius: 5px;
}
