.report__item {
  & + & {
    border-top: 1px solid #cdcdcd;
  }
}

.report__container {
  padding: 15px 0;
}

.report__bar {
  margin-bottom: 15px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.report__heading {
  margin: 0;
}

.report__select-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #dcdcdc;
  border-radius: 5px;
}

.report__select {
  min-width: 150px;
  width: auto;
  padding: 5px;
  border: none;
  border-radius: 5px;

  &--secondary.hidden {
    display: none;
  }
}

.report__form-date {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  &.hidden {
    display: none;
  }
}

.report__button {
  padding: 6px;
}

.report__date {
  padding: 5px;
  min-width: 150px;
  width: auto;
}

.report__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border-radius: 5px;
}
