.task-item {
  position: relative;
  margin: 0;
  padding: 20px;
  background-color: #dcdcdc;
  border-radius: 5px;
  border: none;
}

.task-item__bar {
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;
  background-color: #dcdcdc;
}

.task-item__heading {
  margin: 0;
}

.task-item__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.task-item__button {
  &--remove {
    position: relative;
    justify-self: end;
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: inherit;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 25px;
      height: 3px;
      background-color: #b0b0b0;
      transition-duration: 0.3s;
      border-radius: 4px;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    &:hover {
      &::before,
      &::after {
        background-color: #cc0000;
      }
    }
  }
}

.task-item__list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  max-height: 100vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-item__text {
  margin: 0;
  padding: 10px;
  min-height: 38px;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  border-radius: 5px;
}
